.popular {
  height: 100%;
  display: flex;
  flex-direction: column;

  gap: 10px;
  background: #f2ede8;
  padding: 7% 12%;
}
.popular:after {
  content: "";
  display: table;
  clear: both;
}

.popular h1 {
  align-items: start;
  color: #725654;
  font-size: 50px;
  font-weight: 500;
}

.popular-item {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

@media (max-width: 1280px) {
  .popular {
    flex-direction: column;
  }
  .popular-item {
    flex-direction: column;
  }

  .popular h1 {
    margin-top: 0;
    font-size: 8vw;
    line-height: 120%;
  }
}

@media (max-width: 1090px) {
  .popular h1 {
    margin-top: 0;
    font-size: 8vw;
    line-height: 120%;
  }
}
